dist: bionic

install:
  - echo deb http://archive.ubuntu.com/ubuntu bionic-backports main universe| sudo tee /etc/apt/sources.list.d/backports.list
  - sudo apt-get update
  - sudo apt-get install build-essential dpkg-dev
  - sudo apt-get -t bionic-backports build-dep .

script:
  - ci/test.sh

notifications:
  email: false
