[package]
name = "nsncd"
version = "1.0.0"
authors = [
    "Ben Linsay <ben.linsay@twosigma.com>",
    "Geoffrey Thomas <geoffrey.thomas@twosigma.com>",
    "Leif Walsh <leif.walsh@twosigma.com>",
]
edition = "2018"
description = "The name service non-caching daemon"
readme = "README.md"
repository = "https://github.com/twosigma/nsncd"
license = "Apache-2.0"

[dependencies]
anyhow = "^1.0"
atoi = "^0.3"
slog = "^2.5"
slog-async = "^2.5"
slog-term = "^2.6"
nix = "^0.20"
num-derive = "^0.2"
num-traits = "^0.2"

[dev-dependencies]
criterion = "^0.3"

[[bench]]
name = "user"
harness = false
