#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

# See README.source.
vendor:
	mkdir -p .cargo
	cargo vendor > .cargo/config
	cat debian/Cargo.toml.append >> Cargo.toml
	echo 'nsncd: source-is-missing vendor/*' > debian/source/lintian-overrides
