name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  coverage:
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:develop
      options: --security-opt seccomp=unconfined

    steps:
    - uses: actions/checkout@v3
    - name: Generate code coverage
      run: cargo tarpaulin --all-features --workspace --timeout 120 --out Xml
    - uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: true

  build-debian-10:
    runs-on: ubuntu-latest
    container: debian:10

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        apt-get update
        apt-get -y install build-essential dpkg-dev ca-certificates
        apt-get -y build-dep .
    - name: Build
      run: cargo build --verbose
  
  clippy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - run: rustup component add clippy
    - name: rust-clippy-check
      uses: actions-rs/clippy-check@v1.0.7
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

  run-ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install build-essential dpkg-dev
        sudo apt-get build-dep .
    - name: CI
      run: ci/test.sh
